;
^Ver 1.024           - Russian additions to Platinum  
;
;
;
;AP
;Accounts
;
;
;
;
%Accounts payable
{APRUS.ZIP
94752,\PLATINUM\AP_BANKS.EXE
80974,\PLATINUM\AP_DOCNO.EXE
154924,\PLATINUM\AP_DOCS.EXE
124818,\PLATINUM\AP_DOCSA.EXE
125076,\PLATINUM\AP_DOCST.EXE
85202,\PLATINUM\AP_INIT.EXE
127010,\PLATINUM\AP_VENBI.EXE
3905,\PLATINUM\RU_RESRC\AP_CRAPP.FRM
2456,\PLATINUM\RU_RESRC\AP_OUORD.FRM
3337,\PLATINUM\RU_RESRC\AP_PLAT.FRM
3072,\PLATINUM\RESOURCE\AP_DOCS.TLF
152064,\PLATINUM\RESOURCE\APRUS.PDF
55296,\PLATINUM\RESOURCE\APRUS.TLF
362496,\PLATINUM\RESOURCE\APRUS.ZDF
795648,\PLATINUM\HELP\APRUS.HLP
6144,\PLATINUM\HELP\APRUS.NOT
}
;AR
;Accounts
;
;
;
;
%Accounts receivable
{ARRUS.ZIP
151924,\PLATINUM\AR_SCHET.EXE
107514,\PLATINUM\AR_INORD.EXE
127010,\PLATINUM\AR_CUSBI.EXE
94678,\PLATINUM\AR_BANKS.EXE
4146,\PLATINUM\RU_RESRC\AR_INORD.FRM
2734,\PLATINUM\RU_RESRC\AR_SCHET.FRM
2585,\PLATINUM\RU_RESRC\AR_SCHET.FRR
2736,\PLATINUM\RU_RESRC\AR_SCHE1.FRM
187392,\PLATINUM\RESOURCE\ARRUS.PDF
67584,\PLATINUM\RESOURCE\ARRUS.TLF
473088,\PLATINUM\RESOURCE\ARRUS.ZDF
889344,\PLATINUM\HELP\ARRUS.HLP
4608,\PLATINUM\HELP\ARRUS.NOT
}
;BB
;Bank
;
;
;
;
%Bank Book
#PLTRUS_2
{BBRUS.ZIP
39936,\PLATINUM\RESOURCE\BBRUS.PDF
7680,\PLATINUM\RESOURCE\BBRUS.TLF
60416,\PLATINUM\RESOURCE\BBRUS.ZDF
271872,\PLATINUM\HELP\BBRUS.HLP
4608,\PLATINUM\HELP\BBRUS.NOT
}
;FE
;Foreign
;
;
;
;
%Foreign Currency Manager
{FERUS.ZIP
21504,\PLATINUM\RESOURCE\FERUS.PDF
3072,\PLATINUM\RESOURCE\FERUS.KPF
6144,\PLATINUM\RESOURCE\FERUS.TLF
46080,\PLATINUM\RESOURCE\FERUS.ZDF
225792,\PLATINUM\HELP\FERUS.HLP
4608,\PLATINUM\HELP\FERUS.NOT
}
;IN
;Inventory
;
;
;
;
;
;
%Inventory
{IN1.ZIP
69762,\PLATINUM\IN_CUR.EXE
82980,\PLATINUM\IN_DNUM.EXE
130080,\PLATINUM\IN_WB3.EXE
129708,\PLATINUM\IN_WB2.EXE
129408,\PLATINUM\IN_WB1.EXE
114646,\PLATINUM\IN_PRWB3.EXE
112686,\PLATINUM\IN_PRWB2.EXE
112638,\PLATINUM\IN_PRWB1.EXE
101318,\PLATINUM\IN_PRDOC.EXE
101526,\PLATINUM\IN_PROSN.EXE
103146,\PLATINUM\IN_PRVND.EXE
103114,\PLATINUM\IN_PRCST.EXE
103146,\PLATINUM\IN_PROTV.EXE
97946,\PLATINUM\IN_INIT.EXE
85304,\PLATINUM\IN_SDOC.EXE
}
{IN2.ZIP
85346,\PLATINUM\IN_OSN.EXE
86476,\PLATINUM\IN_VEND.EXE
93818,\PLATINUM\IN_CUST.EXE
86632,\PLATINUM\IN_OTV.EXE
106226,\PLATINUM\IN_PLIS1.EXE
59556,\PLATINUM\IN_BSCUR.EXE
91234,\PLATINUM\IN_PLIST.EXE
889,\PLATINUM\RU_RESRC\IN_PRCST.FRM
869,\PLATINUM\RU_RESRC\IN_PRDOC.FRM
869,\PLATINUM\RU_RESRC\IN_PROSN.FRM
889,\PLATINUM\RU_RESRC\IN_PROTV.FRM
889,\PLATINUM\RU_RESRC\IN_PRVND.FRM
1934,\PLATINUM\RU_RESRC\IN_PRWB1.FRM
1934,\PLATINUM\RU_RESRC\IN_PRWB2.FRM
1951,\PLATINUM\RU_RESRC\IN_PRWB3.FRM
3521,\PLATINUM\RU_RESRC\IN_WB1.FRM
3521,\PLATINUM\RU_RESRC\IN_WB2.FRM
3578,\PLATINUM\RU_RESRC\IN_WB3.FRM
}
{INRUS1.ZIP
71680,\PLATINUM\RESOURCE\INRUS.TLF
629760,\PLATINUM\RESOURCE\INMASTER.PDF
238080,\PLATINUM\RESOURCE\INRUS.PDF
60416,\PLATINUM\RESOURCE\INRUS.KPF
823296,\PLATINUM\RESOURCE\INRUS.ZDF
889,\PLATINUM\RU_RESRC\IN_PRCST.FRM
869,\PLATINUM\RU_RESRC\IN_PRDOC.FRM
869,\PLATINUM\RU_RESRC\IN_PROSN.FRM
889,\PLATINUM\RU_RESRC\IN_PROTV.FRM
889,\PLATINUM\RU_RESRC\IN_PRVND.FRM
1934,\PLATINUM\RU_RESRC\IN_PRWB1.FRM
1934,\PLATINUM\RU_RESRC\IN_PRWB2.FRM
1951,\PLATINUM\RU_RESRC\IN_PRWB3.FRM
3521,\PLATINUM\RU_RESRC\IN_WB1.FRM
3521,\PLATINUM\RU_RESRC\IN_WB2.FRM
3578,\PLATINUM\RU_RESRC\IN_WB3.FRM
}
#PLTRUS_3
{INRUS2.ZIP
1410048,\PLATINUM\HELP\INRUS.HLP
6144,\PLATINUM\HELP\INRUS.NOT
}
;FL
;%Foreign
;V:\PLATINUM\RESOURCE\FLRUS.PDF
;FR
;FRX
;
;
;
;
%FRX
{FRXRUS1.ZIP
466,\PLATINUM\FRXMENUR.BAT
350208,\PLATINUM\HELP\FRRUS.HLP
562,\PLATINUM\PREMFRX\FRCHGFNM.COM
80387,\PLATINUM\PREMFRX\RRXMSG
4007,\PLATINUM\PREMFRX\CAT1_C.RSC
4007,\PLATINUM\PREMFRX\CAT2_C.RSC
4007,\PLATINUM\PREMFRX\CAT3_C.RSC
4007,\PLATINUM\PREMFRX\COMP_C.RSC
4007,\PLATINUM\PREMFRX\COMP_G.RSC
4007,\PLATINUM\PREMFRX\DPTX.RSC
4007,\PLATINUM\PREMFRX\FRXPANEL.RSC
4007,\PLATINUM\PREMFRX\LINK.RSC
4007,\PLATINUM\PREMFRX\LOGO.RSC
4007,\PLATINUM\PREMFRX\NEWCOMP.RSC
4007,\PLATINUM\PREMFRX\PLATX_C.RSC
4007,\PLATINUM\PREMFRX\PLATXFER.RSC
4007,\PLATINUM\PREMFRX\STYLE_C.RSC
4007,\PLATINUM\PREMFRX\TLK_C.RSC
4007,\PLATINUM\PREMFRX\TREE-A2.RSC
4000,\PLATINUM\PREMFRX\TREE_35.RSC
4007,\PLATINUM\PREMFRX\TREEA.RSC
4007,\PLATINUM\PREMFRX\TREEA_C.RSC
4007,\PLATINUM\PREMFRX\TREES_C.RSC
}
;GL
;General
;>P:\install.plt\v401\GLRUS401.INS
;JC
;Job
;
;
;
;
%Job Cost
{JCRUS.ZIP
92160,\PLATINUM\RESOURCE\JCRUS.PDF
334848,\PLATINUM\RESOURCE\JCRUS.ZDF
12288,\PLATINUM\RESOURCE\JCRUS.TLF
11264,\PLATINUM\RESOURCE\JCRUS.KPF
}
;NL
;Premier
;
;
;
;
%Premier Ledger
{NLRUS.ZIP
334848,\PLATINUM\RESOURCE\NLRUS.PDF
70144,\PLATINUM\RESOURCE\NLRUS.TLF
998400,\PLATINUM\RESOURCE\NLRUS.ZDF
36864,\PLATINUM\RESOURCE\NLRUS.KPF
2560,\PLATINUM\RESOURCE\NL_RUS.TLF
13312,\PLATINUM\RESOURCE\NL_RUS.ZDF
803328,\PLATINUM\HELP\NLRUS.HLP
4608,\PLATINUM\HELP\NLRUS.NOT
11264,\PLATINUM\HELP\NL_RUS.HLR
4096,\PLATINUM\HELP\NL_RUS.NTR
158758,\PLATINUM\NL_JREP.EXE
157506,\PLATINUM\NL_ACORP.EXE
135476,\PLATINUM\NL_ACORM.EXE
43124,\PLATINUM\RU_PPARS.EXE
5650,\PLATINUM\RU_RESRC\NL_CORRM.SCR
3365,\PLATINUM\RU_RESRC\NL_ACORP.SCR
127,\PLATINUM\RU_RESRC\NL_ACDA.FRM
179,\PLATINUM\RU_RESRC\NL_ACAS.FRM
53,\PLATINUM\RU_RESRC\NL_ACAA.FRM
179,\PLATINUM\RU_RESRC\NL_ACAW.FRM
235,\PLATINUM\RU_RESRC\NL_ACAL.FRM
88,\PLATINUM\RU_RESRC\NL_ACAU.FRM
299,\PLATINUM\RU_RESRC\NL_ACAT.FRM
87,\PLATINUM\RU_RESRC\NL_ACSA.FRM
172,\PLATINUM\RU_RESRC\NL_ACSS.FRM
98,\PLATINUM\RU_RESRC\NL_ACSW.FRM
250,\PLATINUM\RU_RESRC\NL_ACSU.FRM
182,\PLATINUM\RU_RESRC\NL_ACST.FRM
179,\PLATINUM\RU_RESRC\NL_ACDS.FRM
188,\PLATINUM\RU_RESRC\NL_ACDW.FRM
157,\PLATINUM\RU_RESRC\NL_ACDU.FRM
299,\PLATINUM\RU_RESRC\NL_ACDT.FRM
642,\PLATINUM\RU_RESRC\NL_ACTW.FRM
818,\PLATINUM\RU_RESRC\NL_CORUD.FRM
521,\PLATINUM\RU_RESRC\NL_CORUS.FRM
800,\PLATINUM\RU_RESRC\NL_CORUT.FRM
241,\PLATINUM\RU_RESRC\NL_JRM1.FRM
476,\PLATINUM\RU_RESRC\NL_JRTIT.FRM
15360,\PLATINUM\RU_RESRC\NL_RUS.RES
41472,\PLATINUM\RU_RESRC\PL_RUS.RES
}
;OE
;Order
;
;
;
;
%Order Entry
{OERUS1.ZIP
55296,\PLATINUM\RESOURCE\OERUS.PDF
4096,\PLATINUM\RESOURCE\OERUS.KPF
43008,\PLATINUM\RESOURCE\OERUS.TLF
136192,\PLATINUM\RESOURCE\OERUS.ZDF
339456,\PLATINUM\HELP\OERUS.HLP
4608,\PLATINUM\HELP\OERUS.NOT
}
%Order Entry Open Orders Report
#PLTRUS_4
{OERUS2.ZIP
195686,\PLATINUM\OE_OPORD.EXE
43124,\PLATINUM\RU_PPARS.EXE
55296,\PLATINUM\RESOURCE\OERUS.PDF
154624,\PLATINUM\RESOURCE\OE_RUS.ZDF
6144,\PLATINUM\HELP\OE_RUS.HLR
4096,\PLATINUM\HELP\OE_RUS.NTR
41472,\PLATINUM\RU_RESRC\PL_RUS.RES
16896,\PLATINUM\RU_RESRC\OE_RUS.RES
484,\PLATINUM\RU_RESRC\OE_ROORH.FRM
240,\PLATINUM\RU_RESRC\OE_ROORI.FRM
246,\PLATINUM\RU_RESRC\OE_ROORS.FRM
296,\PLATINUM\RU_RESRC\OE_ROORT.FRM
492,\PLATINUM\RU_RESRC\OE_ROOCH.FRM
169,\PLATINUM\RU_RESRC\OE_ROOCI.FRM
374,\PLATINUM\RU_RESRC\OE_ROOCT.FRM
502,\PLATINUM\RU_RESRC\OE_ROODH.FRM
205,\PLATINUM\RU_RESRC\OE_ROODI.FRM
369,\PLATINUM\RU_RESRC\OE_ROODT.FRM
}
;PO
;Purchase
;
;
;
;
%Закупки
{PO_RUS.ZIP
350208,\PLATINUM\HELP\PORUS.HLP
4608,\PLATINUM\HELP\PORUS.NOT
5120,\PLATINUM\RESOURCE\PORUS.KPF
39936,\PLATINUM\RESOURCE\PORUS.PDF
38400,\PLATINUM\RESOURCE\PORUS.TLF
84992,\PLATINUM\RESOURCE\PORUS.ZDF
}
;RM
;Resource
;
;
;
;
%Resource Manager
19968,\PLATINUM\RESOURCE\RMRUS.PDF
271872,\PLATINUM\HELP\RMRUS.HLP
;SS
;Spread
;
;
;
;
%Spread Sheet Interface
9216,\PLATINUM\RESOURCE\SSRUS.PDF
;FS
;Fixed
;>P:\install.plt\v401\FSRUS401.INS
;--------------
%System module
{PLRUS.ZIP
71,\PLATINUM\PLTRUS.VER
12288,\PLATINUM\RESOURCE\UTMASTER.TLF
35328,\PLATINUM\RESOURCE\UTRUS.PDF
12288,\PLATINUM\RESOURCE\UTRUS.TLF
12288,\PLATINUM\RESOURCE\UTRUS.ZDF
75264,\PLATINUM\RESOURCE\PLRUS.PDF
75264,\PLATINUM\RESOURCE\PLMASTER.PDF
6144,\PLATINUM\RESOURCE\PLRUS.TLF
11264,\PLATINUM\RESOURCE\PLRUS.ZDF
296448,\PLATINUM\HELP\UTRUS.HLP
4608,\PLATINUM\HELP\UTRUS.NOT
144384,\PLATINUM\HELP\PURUS.HLP
4608,\PLATINUM\HELP\PURUS.NOT
}
;New
%Russian additions
{RUS_EXE0.ZIP
71,\PLATINUM\PLTRUS.VER
1258,\PLATINUM\UTBAK.BAT
1511,\PLATINUM\UTRES.BAT
766,\PLATINUM\PLATINUM.ICO
36382,\PLATINUM\RU_INIBI.EXE
43124,\PLATINUM\RU_PPARS.EXE
126402,\PLATINUM\RU_COMBI.EXE
94626,\PLATINUM\RU_BANKS.EXE
68270,\PLATINUM\RU_CMNT.EXE
102624,\PLATINUM\PL201DTR.EXE
4805,\PLATINUM\PLT.NET
}
;New
%Russian resources
{RUS_RESR.ZIP
3368,\PLATINUM\RU_RESRC\RU_COMBI.SCR
3792,\PLATINUM\RU_RESRC\AR_CUSBI.SCR
3793,\PLATINUM\RU_RESRC\AP_VENBI.SCR
71680,\PLATINUM\RU_RESRC\RU_RESRC.RES
113664,\PLATINUM\RESOURCE\RU_RESRC.ZDF
44400,\PLATINUM\PLRUS.RTF
}
;Russian
{RUSHLP1.ZIP
23040,\PLATINUM\HELP\RU_RESRC.HLR
4096,\PLATINUM\HELP\RU_RESRC.NTR
}
